<div class="container" style="margin-top: 50px">
	<div class="row">
		<div class="float-right" style="width: 100%">
			<button (click)="openAddTaskForm()" class="float-right">Add Item</button>
		</div>
	</div>
	<div class=row>
		<div class="col-4">
			<h2>To do</h2>
			<div
				#pendingList="cdkDropList"
				(cdkDropListDropped)="drop($event)"
				[cdkDropListConnectedTo]="[doneList, inProcessList]"
				[cdkDropListData]="pending"
				cdkDropList
				class="example-list">
				<div *ngFor="let task of pending" [cdkDragData]="task" cdkDrag class="example-box todo-container">
					<span *ngIf="task.priority === 'high'">
						<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
</svg>
					</span>
					<span *ngIf="task.priority === 'moderate'">
						<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z"/>
</svg>
					</span>
					<span *ngIf="task.priority === 'low'">
						<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
</svg>
					</span>
					{{task.title}}
					<span (click)="editTask(task)" class="edit float-right"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
</svg></span>
					<span (click)="deleteTask(task)" class="edit float-right"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
</svg></span>
				</div>
			</div>
		</div>

		<div class="col-4">
			<h2>In process</h2>

			<div
				#inProcessList="cdkDropList"
				(cdkDropListDropped)="drop($event)"
				[cdkDropListConnectedTo]="[pendingList, doneList]"
				[cdkDropListData]="inProcess"
				cdkDropList
				class="example-list">
				<div *ngFor="let task of inProcess" [cdkDragData]="task" cdkDrag class="example-box in-process">
					<span *ngIf="task.priority === 'high'">

						<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
</svg>
					</span>
					<span *ngIf="task.priority === 'moderate'">
						<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z"/>
</svg>
					</span>
					<span *ngIf="task.priority === 'low'">
						<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
</svg>
					</span>
					{{task.title}}
				</div>
			</div>
		</div>
		<div class="col-4">
			<h2>Done</h2>

			<div
				#doneList="cdkDropList"
				(cdkDropListDropped)="drop($event)"
				[cdkDropListConnectedTo]="[pendingList, inProcessList]"
				[cdkDropListData]="done"
				cdkDropList
				class="example-list">
				<div *ngFor="let task of done" [cdkDragData]="task" cdkDrag class="example-box" [style.background] = "getBackgroundColor()">
					<span *ngIf="task.priority === 'high'">
						<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
</svg>
					</span>
					<span *ngIf="task.priority === 'moderate'">
						<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z"/>
</svg>
					</span>
					<span *ngIf="task.priority === 'low'">
						<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
</svg>
					</span>
					{{task.title}}
				</div>
			</div>
		</div>

	</div>

</div>

<div *ngIf="showForm" class="pop-up">
	<div class="pop-up-form">
		<div class="">
			<h2>Add task</h2>
			<form (ngSubmit)="addTask()" [formGroup]="addEditTaskForm" class="row login-form-container">
				<mat-form-field class="col-md-12">
					<mat-label>Title &nbsp;</mat-label>
					<input class="input-text" formControlName="title" matInput type="text" required>
				</mat-form-field>
				<mat-form-field class="col-md-12">
					<mat-label>Description &nbsp;</mat-label>
					<input class="input-text" formControlName="description" matInput type="text">
				</mat-form-field>
				<mat-form-field appearance="fill" class="col-md-12">
					<mat-label>Priority</mat-label>
					<mat-select formControlName="priority" required>
						<mat-option [value]="'high'">
							High
						</mat-option>
						<mat-option [value]="'low'">
							Low
						</mat-option>
						<mat-option [value]="'moderate'">
							Moderate
						</mat-option>
					</mat-select>
				</mat-form-field>
				<mat-form-field class="col-md-12">
					<mat-label>Due Date &nbsp;</mat-label>
					<input [matDatepicker]="dp3" formControlName="dueDate" matInput readonly>
					<mat-datepicker-toggle [for]="dp3" matSuffix></mat-datepicker-toggle>
					<mat-datepicker #dp3 disabled="false"></mat-datepicker>
				</mat-form-field>
				<div class="col-md-12 flex-column align-items-center">
					<button class="btn-main" type="submit">Add</button>
					<button class="btn-main" (click)="closeForm()">Cancel</button>
				</div>
			</form>
		</div>

	</div>
</div>
